# --- Rust ---
/target/
**/*.rs.bk

# --- Derived data (re-created by the pipeline; never committed) ---
/data/

# --- Python ---
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.venv/
build/
dist/

# --- Tooling / OS ---
.idea/
.vscode/
.DS_Store
*.swp
